################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WC.API/.vs
/WC.API/obj
/WC.API/bin/Debug/net8.0
/WC.API.DataAccess/bin/Debug/net8.0
/WC.API.DataAccess/obj
/WC.API.DataAccess.Bundle/bin/Debug/net8.0
/WC.API.DataAccess.Bundle/obj
/WC.API.DataAccess.SqlServer/bin/Debug/net8.0
/WC.API.DataAccess.SqlServer/obj
/WC.API.Models/obj
/WC.API.Models/bin/Debug/net8.0
/WC.Service/bin/Debug/net8.0
/WC.Service/obj
/WC.Admin/obj
/WC.Admin/bin/Debug/net8.0
/WC.DbUpdater/obj
/WC.DbUpdater/bin/Debug/net8.0
/WC.DbConfig/bin/Debug/net8.0-windows
/WC.DbConfig/obj
/WC.Database.Tools/bin/Debug/net8.0
/WC.Database.Tools/obj
